<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>225731216641-via07mp154b1r97gelb7kigsab8d8lfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225731216641-via07mp154b1r97gelb7kigsab8d8lfb</string>
	<key>API_KEY</key>
	<string>AIzaSyBe4VcaSSY7qUK2dSaLdoiGq38OaOLSLOg</string>
	<key>GCM_SENDER_ID</key>
	<string>225731216641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.3i.RaoViet.raoviet</string>
	<key>PROJECT_ID</key>
	<string>raoviet-152008</string>
	<key>STORAGE_BUCKET</key>
	<string>raoviet-152008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:225731216641:ios:f912a8311c5c1484</string>
	<key>DATABASE_URL</key>
	<string>https://raoviet-152008.firebaseio.com</string>
</dict>
</plist>